
table { table-layout: fixed; }

.art-single-row td, th { overflow: hidden; white-space: nowrap; }

/*td { overflow: hidden; white-space: nowrap; }*/

#menu {
    background-color: #022a50;
    color: #fff;
}

#data-details {
}

.width5p {
    width: 5%;
}
.width10p {
    width: 10%;
}

.width20p {
    width: 20%;
}

.width25p {
    width: 25%;
}

.width30p {
    width: 30%;
}

.width50p {
    width: 50%;
}

.width60p {
    width: 60%;
}

.width75p {
    width: 75%;
}
